body{
	text-align: center;
	background-color: #333;
	color:white;
	font-family: sans-serif;
}
p{
	font-size: 1em;
}
p span{
	font-weight: bold;
	font-size: 1.2em ;
}
#rango{
	width: 300px;
	color:red;
	background-color: red;
}
canvas{
	background-color: #1C3643;
	box-shadow: 0 5px 5px 0px #000;
}
